.card__info {
  max-width: 500px;
  background-color: var(--background-elevated);
  padding: 1rem 2rem;
  border-radius: var(--rounded-sm);
}

.card__info h2 {
  color: var(--primary);
}

.card__info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}

.card__info ul > li .list__title {
  font-weight: bold;
}

.card__info ul .text--highlighted {
  color: var(--text-highlight);
  background-color: var(--background-highlight);
  padding: 3px 5px;
  border-radius: var(--rounded-sm);
}

.card__info > .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card__info > .buttons > button {
  padding: 1rem 2rem;
  border-radius: var(--rounded-lg);
  font-size: 1rem;
}

button.button--primary {
  background-color: var(--primary);
  color: var(--primary-text);
}
